<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Port+Lligat+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="./usuarios/publicaciones/CSS/movile.css">
    <link rel="stylesheet" href="./usuarios/publicaciones/CSS/tablet.css" media="screen and (min-width:600px)">
    <link rel="stylesheet" href="./usuarios/publicaciones/CSS/web.css" media="screen and (min-width:1000px)">
    <link rel="icon" type="image/png" href="./principal/images/logoblanco.png" sizes="100x100">
    <title>tuVaca.com</title>
</head>

<body class="body_publicaciones">
    <div class="atras">
        <a href="/crearAcarreo">Crear Publicación</a>
        <a href="/crearAcarreo" class="atrasI"></a>
    </div>
    <form class="publicacion" id="publicacion" action="/abrir-publicaciones" method="POST" >
        <input value={{id}} type="text" class="id" style="display:none;">
        <input name="id_p" type="text" id="id2" value="" style="display:none;">
        <div class="publicacion_mas">
            <span></span>
        </div>
        <!--En esta division esta la imagen del bovino a vender-->
        <div class="publicacion_imagen" onclick="modal()" title="Click para ver descripción">
            <img src="./usuarios/menu/images/camioneta.jpg" alt="">
        </div>
        <!--En esta división esta la fecha, los me gusta y el chat-->
        <div class="publicacion_linea1">
            <p>21/julio/2022</p>
            <div>
                <div class="chat"></div>
            </div>
        </div>
        <!--En esta división esta:-->
        <div class="publicacion_linea2">
            <div class="publicacion_perfil">
                <!--foto de perfil del publicador-->
                <div style="background-image: url({{photo}})"></div>
                <!--nombre del publicador-->
                <p>{{name}}</p>
            </div>
            <!--ubicación del bovino-->
            <p>{{ubication}}</p>

        </div>
        <div class="publicacion_linea3b" style="justify-content:center ;">
            <table class="">
                <tr>
                    <td>Ubaté</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Carupa</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Tausa</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Suta</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Lenguazaque</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Guacheta</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Simijaca</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Susa</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Cucunuba</td>
                    <td>{{datos}}</td>
                </tr>

            </table>
        </div>
        <div class="publicacion_linea4b" style="justify-content:center ;">
            <p>
                Sin descripcion
                {{datos.descripcion}}
            </p>
        </div>
        <section class="modal_container_t ">
            <section class="modal_t modal_cerrado_t">
                <div class="modal_Contendort"><span class="cerrar_modal_t"></span></div>
                <div class="modal_Cuerpot">
                    <div>
                        <a href="/crearPublicacion">Editar</a>
                    </div>
                    <div>
                        <a>Elminar</a>
                    </div>
                </div>
            </section>
        </section>
    </form>
     <form class="publicacion" id="publicacion" action="/abrir-publicaciones" method="POST">
        <input value={{id}} type="text" class="id" style="display:none;">
        <input name="id_p" type="text" id="id2" value="" style="display:none;">
        <div class="publicacion_mas">
            <span></span>
        </div>
        <!--En esta division esta la imagen del bovino a vender-->
        <div class="publicacion_imagen" onclick="modal()" title="Click para ver descripción">
            <img src="./usuarios/menu/images/camioneta.jpg" alt="">
        </div>
        <!--En esta división esta la fecha, los me gusta y el chat-->
        <div class="publicacion_linea1">
            <p>21/julio/2022</p>
            <div>
                <div class="chat"></div>
            </div>
        </div>
        <!--En esta división esta:-->
        <div class="publicacion_linea2">
            <div class="publicacion_perfil">
                <!--foto de perfil del publicador-->
                <div style="background-image: url({{photo}})"></div>
                <!--nombre del publicador-->
                <p>{{name}}</p>
            </div>
            <!--ubicación del bovino-->
            <p>{{ubication}}</p>

        </div>
        <div class="publicacion_linea3b" style="justify-content:center ;">
            <table class="">
                <tr>
                    <td>Ubaté</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Carupa</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Tausa</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Suta</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Lenguazaque</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Guacheta</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Simijaca</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Susa</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Cucunuba</td>
                    <td>{{datos}}</td>
                </tr>

            </table>
        </div>
        <div class="publicacion_linea4b" style="justify-content:center ;">
            <p>
                Sin descripcion
                {{datos.descripcion}}
            </p>
        </div>
        <section class="modal_container_t ">
            <section class="modal_t modal_cerrado_t">
                <div class="modal_Contendort"><span class="cerrar_modal_t"></span></div>
                <div class="modal_Cuerpot">
                    <div>
                        <a href="/crearPublicacion">Editar</a>
                    </div>
                    <div>
                        <a>Elminar</a>
                    </div>
                </div>
            </section>
        </section>
    </form>
     <form class="publicacion" id="publicacion" action="/abrir-publicaciones" method="POST">
        <input value={{id}} type="text" class="id" style="display:none;">
        <input name="id_p" type="text" id="id2" value="" style="display:none;">
        <div class="publicacion_mas">
            <span></span>
        </div>
        <!--En esta division esta la imagen del bovino a vender-->
        <div class="publicacion_imagen" onclick="modal()" title="Click para ver descripción">
            <img src="./usuarios/menu/images/camioneta.jpg" alt="">
        </div>
        <!--En esta división esta la fecha, los me gusta y el chat-->
        <div class="publicacion_linea1">
            <p>21/julio/2022</p>
            <div>
                <div class="chat"></div>
            </div>
        </div>
        <!--En esta división esta:-->
        <div class="publicacion_linea2">
            <div class="publicacion_perfil">
                <!--foto de perfil del publicador-->
                <div style="background-image: url({{photo}})"></div>
                <!--nombre del publicador-->
                <p>{{name}}</p>
            </div>
            <!--ubicación del bovino-->
            <p>{{ubication}}</p>

        </div>
        <div class="publicacion_linea3b" style="justify-content:center ;">
            <table class="">
                <tr>
                    <td>Ubaté</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Carupa</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Tausa</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Suta</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Lenguazaque</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Guacheta</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Simijaca</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Susa</td>
                    <td>{{datos}}</td>
                </tr>
                <tr>
                    <td>Cucunuba</td>
                    <td>{{datos}}</td>
                </tr>

            </table>
        </div>
        <div class="publicacion_linea4b" style="justify-content:center ;">
            <p>
                Sin descripcion
                {{datos.descripcion}}
            </p>
        </div>
        <section class="modal_container_t ">
            <section class="modal_t modal_cerrado_t">
                <div class="modal_Contendort"><span class="cerrar_modal_t"></span></div>
                <div class="modal_Cuerpot">
                    <div>
                        <a href="/crearPublicacion">Editar</a>
                    </div>
                    <div>
                        <a>Elminar</a>
                    </div>
                </div>
            </section>
        </section>
    </form>
    <script src="./usuarios/publicaciones/JS/index2.js"></script>

</body>

</html>