<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Port+Lligat+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="./usuarios/perfil/CSS/movile.css">
    <link rel="stylesheet" href="./usuarios/perfil/CSS/tablet.css" media="screen and (min-width:600px)">
    <link rel="stylesheet" href="./usuarios/perfil/CSS/web.css" media="screen and (min-width:1000px)">
    <link rel="icon" type="image/png" href="./principal/images/logoblanco.png" sizes="100x100">
    <title>tuVaca.com</title>
</head>

<body class="body_perfil" onload="cargar()">
    <p id="yo" style="display: none;">{{data.name}} </p>

    <input type="text" id="foto_perfil" style="display: none;" value={{data.photoprincipal}} >
    <section class="fijar">
        <section class="datos_usuario">
            <div class="foto">
                <div class="foto_perfil" style="background-image: url({{data.photo}})"></div>
            </div>
            <div class="datos">
                <p>{{data.name}}</p>
                <p>{{data.email}}</p>
                <p>{{data.phone}}</p>
                <p>{{data.ubication}}</p>
            </div>
        </section>
    </section>
    <section class="publicaciones">
        {{#each datos}}

        <form class="publicacion" id="publicacion" action="/abrir-publicaciones" method="POST">
            <input value={{id}} type="text" class="id" style="display:none;">
            <input name="id_p" type="text" id="id2" value="" style="display:none;">
                <!--ocultos -->
                <input class="phone" type="text" value="{{phone}}" style="display:none;">
                <input class="categoria" type="text" value="{{categoria}}" style="display:none;">
                <input class="updateAt" type="text" value="{{updatedAt}}" style="display:none;">
                <input class="raza" type="text" value="{{raza}}" style="display:none;">
                <input class="precio" type="text" value="{{precio}}" style="display:none;">
                <input class="nombre" type="text" value="{{name}}" style="display:none;">
            <!--En esta division esta la imagen del bovino a vender-->
            <div class="publicacion_imagen" onclick="posicion({{@index}})" title="Click para ver descripci贸n"
                style="margin-top: 2%;">
                <img src="{{input0}}" alt="">
            </div>
            <!--En esta divisi贸n esta la fecha, los me gusta y el chat-->
            <div class="publicacion_linea1">
                <p>{{updatedAt}}</p>
                <div>
                    <div onclick="posicionU({{@index}})" class="chat"></div>
                </div>
            </div>
            <!--En esta divisi贸n esta:-->
            <div class="publicacion_linea2">
                <div class="publicacion_perfil">
                    <!--foto de perfil del publicador-->
                    <div id="foto" style="background-image: url({{photo}})"></div>
                    <!--nombre del publicador-->
                    <p id="nombre">{{name}}</p>
                </div>
                <!--ubicaci贸n del bovino-->
                <p>{{ubication}}</p>
            </div>
            </div>
            <div class="publicacion_linea3">
                <!--precio del bovino-->
                <p>{{precio}}</p>
                <!--tipo de bovino-->
                <p>{{raza}}</p>
            </div>
        </form>
        {{/each}}
    </section>
    <!--modal publicaciones-->
    <section class="modal_container_p">
        <section class="modal_p modal_cerrado_p">
            <div class="modal_Contendorp"><span class="cerrar_modal_p"></span></div>
            <iframe scrolling="no" id="framer" src="/modalpublicaciones"></iframe>
        </section>
    </section>
    <!--Formulario para dirigirse al perfil-->
    <form style="display:none ;" action="">
        <input type="text" value="{{id}}">
        <input type="submit" value="" class="perfilS">
    </form>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="./usuarios/perfil/JS/index.js"></script>
    <script>
        let foto_perfil = document.getElementById("foto_perfil");
        function cargar() {
            per.style.backgroundImage = (`url(${foto_perfil.value})`);
            pub.style.backgroundImage = " url(./usuarios/menu/icons/Cow.png)";
        }
        /***recuperando datos para el chat *****/


    </script>
</body>

</html>